/* Global Styles */

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    /* display: flex; */
    justify-content: center;  
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #0cbfcc, #d3faf9);
  }
  


nav {
   
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-height: 70px;
  }
  
  nav li {
    
    position: relative;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  
  nav a {
    color: #2f2d2d;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  #logo {
    margin-top: -10px;
    margin-left: -15px;
    width: 180px;
    height: auto;
  }
 







/* logout post */

#logoutpost {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin: 0 10px;
    
  } 


  #logoutlist {
    display: block;
    text-align: left; /* center the text within the ul */
    margin: 0;
    padding: 0;
  }
  
  #logoutlist li {
    /* make li items inline-block */
    margin-bottom: 10px; /* add 10px space between li items */
    vertical-align: middle;
  }
  
  #logoutlist li:first-child {
    margin-left: 0; /* remove left margin from first item */
  }
  
  #logoutlist li:last-child {
    margin-right: 0; /* remove right margin from last item */
  }
  
  #logoutlist a {
    color: #fff;
    text-decoration: none;
  }
  
  #logoutlist a:hover {
    color: #ccc;
  }


/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  max-height: 300px;  
  /* Add these styles to center the container */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Make it responsive */
  width: 80%; /* adjust the width to your liking */
  height: auto; /* set height to auto to maintain aspect ratio */
  margin: 20px auto; /* add some margin for breathing room */
}

#ppic {
  width: 250px; /* adjust the width to your liking */
  height: 300px;
  overflow: hidden;
}

#profile_image {
  width: 250px;
  height: 220px; /* Set a fixed height */
  padding: 20px;
  object-fit: cover;
  overflow: hidden; /* Hide any excess image */
  border-radius: 50%; /* Optional: make the image a circle */
}

#pdis {
  width: 250px;
  height: 300px; /* Set a fixed height */
  flex: 1;
  padding: 20px;
}

#fuser {
  white-space: nowrap;
}
#opo {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom:6px;
  
}





.clickable-image:hover {
  opacity: 0.8; /* add a hover effect, optional */
}



#pdis p {
  margin-bottom: 5px;
}

.pro_det {
  margin-top: 15px;
  margin-left: -20px;
 
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.stat {
  flex-basis: 33%;
  
  text-align: center;
}

.value {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: -10px;
  
}

.label .label2 {
  font-size: 14px;
  color: #666;
}

/* Add media queries to make it responsive */
@media (max-width: 768px) {
  .profile {
    width: 90%; /* adjust the width for smaller screens */
    margin: 10px auto; /* reduce margin for smaller screens */
  }
  #ppic {
    width: 50%; /* adjust the width for smaller screens */
  }
}

@media (max-width: 480px) {
  .profile {
    width: 95%; /* adjust the width for even smaller screens */
    margin: 5px auto; /* reduce margin for even smaller screens */
  }
  #ppic {
    width: 60%; /* adjust the width for even smaller screens */
  }
}






/* Style the modal */
.follow-block {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.follow-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 35%;
  max-height: 80%;
}


/* The Close Button */
.closef {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closef:hover,
.closef:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Follower List Styles */
.follower-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.follower-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.follower-list li:last-child {
  border-bottom: none;
}

.follower-list a {
  text-decoration: none;
  color: #337ab7;
}

.follower-list a:hover {
  color: #23527c;
}


/* Style the search bar */
#follower-search {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#follower-search:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




  

.post{
    margin-top: 15%;
}
  .cardsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px; /* remove padding from table */
    border-collapse: collapse; /* remove border spacing */
    border: none;

  }
  
 
  
  .cardx {
  position: relative;
  margin: auto;
  width: 375px;
  margin-top: 60px;
  margin-bottom: 50px;

  height: 190px;
  
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  }
  
  .cardx:hover {
  height: 450px;
  }
  
  .imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
  }


  .vid {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 200px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    background:#fff;
    transition: 0.5s;
    }

    .aud {
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translateX(-50%);
      width: 300px;
      height: 50px;
      border-radius: 20px;
      overflow: hidden;
      background:#fff;
      transition: 0.5s;
      }

    
  
  .cardx:hover .imgBx {
  width: 250px;
  height: 250px;
  }

  .cardx:hover .vid {
    width: 90%;
    height: 240px;
  }

  .cardx:hover .aud {
    width: 300px;
    height: 50px;
    }
  
  
  
  .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .vid video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .imgBx audio {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      }

  
  .cardx .content {
  position:initial;
  top:0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  overflow: hidden;
  
  }
  
  .cardx .content .details {
  text-align: center;
  width: 100%;

  transition: 0.5s;
  transform: translateY(164px);
  }
  
  .cardx:hover .content .details {
  transform: translateY(0px);
  }
  
  #tex{
  text-decoration: none;
  }
  
  /* .cardx .content .details .pro_namame h2 {
  
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
  }
  
  .cardx .content .details .pro_namame h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
  } */


  .pro_name {
    
    margin-bottom: 10px; /* add some space below the username */
  }
  
  .pro_name h2 {
    font-size: 18px; /* adjust font size to your liking */
    font-weight: bold; /* make the username bold */
    margin: 0; /* remove default margin from h2 */

  }
  
  .pro_name span {
    font-size: 14px; /* adjust font size to your liking */
    color: #666; /* adjust text color to your liking */
    font-weight: normal; /* make the post description normal font weight */
    display: flex; /* add this property */
    padding-left: 20px;
    
  }
  
  
  .cardx .content .details .data {
  display: flex;
  justify-content: center;
  margin-bottom: 10px ;
  }
  
  .lk{
    margin-top: 10px;
    width: 75%; /* Set image width */
    height: 70%; /* Set image height */
    transition: all 0.3s ease-in-out; /* Add a transition effect */
    border-radius: 50%;
    
  }
  .highlight {
    border: 2px solid #337ab7; /* Add a blue border on highlight */
    box-shadow: 0 0 10px #337ab7; /* Add a blue glow effect */
    background-color: #337ab7;
  }
  .highlight1 {
    border: 2px solid #e4201d; /* Add a blue border on highlight */
    box-shadow: 0 0 10px #e4201d; /* Add a blue glow effect */
    background-color:#e4201d;
  }
  .cardx .content .details .data  span {
  font-size: 1em;
  color: #555;
  line-height:0px;
  font-weight: 600;
  }

  .comments{
    width: 40%;
    height: auto;
  }

  .com{
    width: 75%; /* Set image width */
    height: 75%; /* Set image height */
    transition: all 0.3s ease-in-out; /* Add a transition effect */
  }
  
  .follow{
    margin-top: 40px;
    width: 80px;
    height: 30px;
    text-align: center;
    border: none;
  }











  footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
  }
  
  footer p {
      font-size: 14px;
      margin-bottom: 10px;
  }
  
  /* For screens smaller than 768px (e.g., tablets and mobile devices) */
  @media (max-width: 767px) {
      body {
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 8px;
      }
    }
    
    /* For screens smaller than 480px (e.g., smaller mobile devices) */
    @media (max-width: 479px) {
      body {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 6px;
      }
    }
  
  

